@charset "utf-8";
/* CSS Document */
*
{
	list-style:none;
	
}
#right
{
	color:#999;
	
}
p
{
	
	text-indent:2em;
	padding-left:50px;
	padding-right:40px;
	line-height:20px;
	font-size:13px;
	color:#333;
}
span
{
	color:#09C;
}
