@charset "utf-8";
/* CSS Document */
#right p
{
	margin-left:20px;
}
#right ul li
{
	list-style:disc; 
	color:#999;
	font-size:12px;
	margin-top:6px;
}
#right ul p
{
	text-align:center;
	color:#999;
}
#right span
{
	color:#666;
}


